# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/
.coverage
htmlcov/

# Secrets
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Project
respostas/
